<div id="mailsub" class="notification" align="center">

<table ng-repeat="info in singleDeck" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width: 320px;"><tr><td align="center" bgcolor="#eff3f8">

<table border="0" cellspacing="0" cellpadding="0" class="table_width_100" width="100%" style="max-width: 680px; min-width: 300px;">
  
    <!--content-->
    <tr><td align="center" bgcolor="#fbfcfd">
        <table width="90%" border="0" cellspacing="0" cellpadding="0">
            <tr><td align="center">
                <!-- padding --><div style="height: 60px; line-height: 60px; font-size: 10px;"> </div>
                <div style="line-height: 44px;">
                    <font face="Arial, Helvetica, sans-serif" size="5" color="#57697e" style="font-size: 34px;">
                    <span style="font-family: Arial, Helvetica, sans-serif; font-size: 54px; color: #57697e;">
                        {{info.name}}
                    </span></font>
                </div>
                <!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
            </td></tr>
            <tr><td align="center">
                <div style="line-height: 24px;">
                    <img ng-src="{{info.image}}">
                </div>
                <!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
            </td></tr>
            <tr><td align="center">
                  <div style="line-height: 44px;">
                    <font face="Arial, Helvetica, sans-serif" size="5" color="#57697e" style="font-size: 34px;">
                    <span style="font-family: Arial, Helvetica, sans-serif; font-size: 34px; color: #57697e;">
                        {{info.description}}
                    </span></font>
                </div>
                <!-- padding --><div style="height: 60px; line-height: 60px; font-size: 10px;"> </div>
            </td></tr>
               <tr><td align="center">
                  <div style="line-height: 44px;">
                    <font face="Arial, Helvetica, sans-serif" size="5" color="#57697e" style="font-size: 34px;">
                    <span style="font-family: Arial, Helvetica, sans-serif; font-size: 34px; color: #57697e;">
                        <p><a class="btn btn-primary btn-lg" href="#/{{userId}}/decks" ng-click="addRecommendedDeck(info)" role="button">Add Deck To Profile</a></p>
                    </span></font>
                </div>
                <!-- padding --><div style="height: 60px; line-height: 60px; font-size: 10px;"> </div>
            </td></tr>
        </table>        
    </td></tr>
    <!--content END-->
  </table>

 </table>
            
</div> 

<br>
<br>
<center>
<strong>Flashcard Study App</strong>
</center>
<br>
<br>