   
<div class="container">
  <div class="row">
  	<div class="col-md-12">
  		<div class="list-group">
  			<a href="#/{{userId}}/new" class="list-group-item list-group-item-info"><h2><span class="glyphicon glyphicon-plus-sign"></span> Create a New Deck to Study</h2></a>
  		</div>
  	</div>	
  </div>	
  <hr>
</div>

<recommended-quizes duplicate="deck"></recommended-quizes>

<div class="container" id="mainCont">
  <div class="row" >
  	<div class="col-md-4" ng-repeat="deck in included">
  		  <blockquote class="quote-box">
      <p class="quote-text">
      {{deck.name}}
      </p>
      <img ng-src="{{deck.image}}">
      <hr>
      <div class="blog-post-actions">
        <p class="blog-post-bottom pull-left">
          {{deck.description}}
        </p>
        <p class="blog-post-bottom pull-right">
          <a href="#/{{deck.id}}/quiz"><span class="badge quote-badge" ng-click="pullDeck(deck)">Test Your Wit</span></a>&#x2190;
        </p>
      </div>
    </blockquote>
  	</div>
  </div>
</div>