<navbar-dir></navbar-dir>

<div class="container">
	<div class="jumbotron">
	  <div class="row">
	    <h2>Deck Info</h2>
	    <br>
	    <div class="col-md-6">
		  <div class="input-group">
		    <span class="input-group-addon" id="sizing-addon2">Deck Name</span>
		    <input type="text" class="form-control" placeholder="" aria-describedby="sizing-addon2">
		  </div>
		</div> 
		 <div class="col-md-6">
		  <div class="input-group">
		    <span class="input-group-addon" id="sizing-addon2">Deck Image</span>
		    <input type="text" class="form-control" placeholder="" aria-describedby="sizing-addon2">
		  </div>
		</div> 
	  </div>
	  <br>	
	  <div class="row">	
 		<div class="col-md-12">
		  <div class="input-group">
		    <span class="input-group-addon" id="sizing-addon2">Deck Description</span>
		    <input type="text" class="form-control" placeholder="" aria-describedby="sizing-addon2">
		  </div>
		</div>	  
	  </div>
	  <br>	  
	  <hr>
	 <div class="row"> 
	   <h2>Cards</h2>
	   <br>
	     <div class="col-md-6">
		  <div class="input-group">
		    <span class="input-group-addon" id="sizing-addon2">Question</span>
		    <input type="text" class="form-control" placeholder="" aria-describedby="sizing-addon2">
		  </div>
		</div> 
		 <div class="col-md-6">
		  <div class="input-group">
		    <span class="input-group-addon" id="sizing-addon2">Answer</span>
		    <input type="text" class="form-control" placeholder="" aria-describedby="sizing-addon2">
		  </div>
		</div> 
	 </div>	
	 <br><br>
	 <a class="btn btn-default btn-md " href="#" role="button">Add Another Question</a>
	</div>
</div>
		 <p><a class="btn btn-primary btn-lg" href="#" role="button">Create Deck</a></p>
