a {
  color: #00B7FF;
}

blockquote{
    border-left:none
}

.quote-badge{
    background-color: rgba(0, 0, 0, 0.2);   
}


.quote-box{
    
    overflow: hidden;
    margin-top: -50px;
    padding-top: -100px;
    border-radius: 17px;
    background-color: #4ADFCC;
    margin-top: 25px;
    color:white;
    width: 325px;
    box-shadow: 2px 2px 2px 2px #E0E0E0;
    
}

blockquote img{
    margin-top: 35px;
}

img{
	height: 150px;
	width: 150px;
}
.quote-text{
    color:black;
    font-size: 19px;
    margin-top: -65px;
}

#recommended{
    border-left-style: solid;
    border-left-color: grey; 
    float:right;
    height: 600px;
    width: 400px;
    overflow: scroll;
}

#recommended img{
    margin-left: 90px;
}

#recommended h3:nth-child(2){
    margin-left: 30%;
}

#recommended p{
    margin-left: 10%;
}

#quizes{
    float: left;
    margin-right: -50%;
    overflow: scroll;
    height: 480px;
    width: 800px;

}
#scoreboard{
  width: 800px;
}


#scoreboard .jumbotron{
    height: 275px;
}
#scoreboard .jumbotron h1{
    margin-top: -10px;
}

.right{
    margin-right: 15px;
    width: 200px;
}
